/*ROOT*/
body, h1, h2, h3, h4 {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.container {
  width: 100%;
  background-color: aliceblue;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 0 50px;
}