/*ROOT*/
body, h1, h2, h3, h4 {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.Home {
  padding: 50px;
}

.container {
  width: 100%;
  background-color: aliceblue;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 0 50px;
}

.login-section {
  margin: auto;
  width: 40%;
  background-color: aliceblue;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
}

.login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.login-btn button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}